[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos del sistema
.DS_Store
Thumbs.db

# Visual Studio
.vs/
.vs/Sarcophagus-Chronicles/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.suo

# Archivos de sistema
*.pidb
*.booproj

# Unity Collab
.collabignore
UserSettings/
UserSettings/Layouts/default-2022.dwlt
